
*
{
    
   font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    overflow-x: hidden;
     position: relative;
}
 
  ul.nav-pills {
    top: 100px;
    position: fixed;
    z-index: 1;
    left: 30px;
    
  }
 
#fading{
  width: 100%; height: 80vh; 
}
#fading svg{
  width: 100%; height: 100%;
  
}
.fadingA{
  font-size: 60px; fill:#BFAE99;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  stroke: white; stroke-width:3px;
  stroke-dasharray: 366px;
  animation: animate1 10s ease forwards infinite;
  -webkit-animation: animate1 10s ease forwards infinite;
}
.fadingB{
  font-size: 20px; fill: transparent;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  stroke: #a80125; stroke-width:1px;
  text-align: center;
  stroke-dasharray: 445px;
  stroke-dashoffset: 445px;
  animation: animate2 10s ease forwards infinite;
  -webkit-animation: animate2 10s ease forwards infinite;
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}

@keyframes animate1{
  0 {
    stroke-dashoffset: 0;
    fill: #BFAE99;
  }
  20%{
    stroke-dashoffset: 366px;
    fill: transparent;
  }
  30%{
    stroke-dashoffset: 366px;
    fill: transparent;
  }
  40% {
    stroke-dashoffset: 366px;
    fill: transparent;
  }
  50%{
    stroke-dashoffset: 366px;
    fill: transparent;
  }
  60%{
    stroke-dashoffset: 366px;
    fill: transparent;
  }
  70%{
    stroke-dashoffset: 366px;
    fill: transparent;
  }
  90%{
    stroke-dashoffset: 0px;
    fill: #BFAE99;
  }
}
@keyframes animate2 {
  0%{
      stroke-dashoffset: 445px;
      fill: transparent;
    }
  20%{
    stroke-dashoffset:0px;
    fill:#BFAE99;
  }
  40%{
    stroke-dashoffset:0px;
    fill:#BFAE99;
  }
  80%{
    stroke-dashoffset: 445px;
      fill: transparent;
    }
  }
  .image {
    height: 100px;
    width: 100px;
    background-image: url('img/IMG_20230714_154516.jpg');
    background-size: cover;
    border-radius: 50%;
    border: 8px solid white;
    position: relative;
    top: 200px;
    margin-left: 170px;
    box-shadow: 0 2px 15px rgb(58, 54, 54);
    transform: rotate(-20deg);
}

.shape {
    height: 250px;
    width: 400px;
    background-color: black;
    margin-left: -20px;
    position: relative;
    top: -80px;
    box-shadow: 0 2px 15px black;
    transform: rotate(25deg);
}

h3 {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: rgb(105, 100, 109);
}

p {
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(105, 100, 109);
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin-left: 10px;
    font-size: 20px;
    transition: 0.3s;
    color: rgb(40, 163, 194);
    ;
}

.icons i:hover {
    transform: scale(1.1);
    color: rgb(18, 192, 235);
}
.profile
{
  height: 450px;
    width: 300px;
    box-shadow: 0 10px 20px black;
    background-size: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    font-family: 'Abel', sans-serif;
    margin: auto;
}
.profilehed
{
  font: bold 2em monospace;
  color: black;
	border-right: .1em solid black;
	width: calc(0.55em * 14); 
	width: auto;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 10s steps(14, end),
	           blink-caret .6s step-end infinite alternate;
             
}
.phed {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
}

/* Animation */
.phed {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 350px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

.nhed {
  color: #e5e5e5;
  font-size: 2.26rem;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  height:0px;
  overflow:hidden;
  margin-left: 1rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height:2.81rem;
  margin-bottom: 2.81rem;
  display:inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color:#20a7d8;
}
.second div {
  background-color:#CD921E;
}
.third div {
  background-color:#c10528;
}

@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}
#navbtns {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 40px;
  z-index: 3;
  transform: translateY(-50%);
  gap: 50px;
  text-decoration:none ;
  
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}

a:hover > #itemreveal {
  display: block;
  background-color:#fdc813;
  text-decoration:none;
  color: #000;
}


.ic {
  font-size: 1.5rem;
  color: rgb(250, 248, 248);
  text-decoration: none;
  
}
.ic:hover
{
 
  padding: 10px;
}
.ic:active {
  font-size: 1.3rem;
}

#itemreveal {
  padding: 2px 5px;
  border-radius: 0 5px 5px 0;
  display: none;
  text-decoration: none;
 
}


  .web {
    font-size: 62px;
    font-family: lora;
    color: rgb(7, 7, 7);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    
  }
  .design {
    font-size: 36px;
    font-family: "Verdana";
    color: rgb(19, 18, 18);
    text-align: center;
    line-height: 1;
   
  }
  .bg
  {
     background-color: black;
     clip-path: polygon(0% 0%,100% 0%,100% 100%,70% 75%,0% 100%);
     box-shadow:  20px #fff ;
  }

  
  h1 {
    font-family: "Montserrat", sans-serif;
    margin: 48px 0 24px 0;
  }
  
  .cont {
    background-color:none;
    border-style: solid ;
    border-color: rgb(28, 28, 28);
    border-radius:0px ;
    color: rgb(8, 7, 7);
    width: 50%;
    padding: 40px 0;
    margin: 18px 0;
    text-align: center;
    border-width: 1px;
    font-family: "Roboto", sans-serif;
  }
  
  .abt
  {
    color: #f7f0f0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
    text-transform: uppercase;
  }
  .abtsk
  
  {
    color: #f7f0f0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 390px;
    text-transform: uppercase;
  }
  .abtport
  
  {
    color: #f7f0f0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 50rem;
    text-transform: uppercase;
  }
  .abtedu
  {
    color:#f7f0f0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 300px;
    text-transform: uppercase;
  }
  .abtcont
  {
       color: #f7f0f0;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
  }

    .co{
        
        
        display: flex;
        background:rgb(27, 26, 26);
        color: rgb(20, 19, 19);
        height: 40rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 800px;
    }
   .cards .container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 5rem;
}

.cards .drop {
  width: 380px;
  height: 450px;
  position: relative;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.1),
    25px 35px 20px rgba(0, 0, 0, 0.1), 25px 30px 30px rgba(0, 0, 0, 0.1),
    inset -20px -20px 25px rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 4rem;
  transition: border-radius 0.5s;
  overflow: hidden;
  text-align: center;
  animation: drop 1s infinite alternate ease-in-out;
}

.cards .drop:nth-child(1) {
  border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
}

.cards .drop:nth-child(2) {
  border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
}

.cards .drop:nth-child(3) {
  border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
}

@keyframes drop {
  from {
    border-radius: 38% 62% 46% 54% / 46% 51% 49% 54%;
  }

  to {
    border-radius: 50%;
  }
}

.cards .drop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 75px;
  width: 35px;
  height: 35px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
}

.cards .drop::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 100px;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
}

.read-btn {
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: inherit;
  color: inherit;
  font-weight: 600;
  padding: 0.5rem;
  cursor: pointer;
}
.t1 
{
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
 margin: auto;
 display: block;
  text-align: center;
  margin-top: 0px;
}

@media screen and (max-width: 1200px) {
  .cards .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .cards .container {
    grid-template-columns: 1fr;
  }
}



.space {
 
  width: 100%;
  height: 500px;
  background-color: rgb(0, 0, 0);
}
.rect
{
    width: 300px;
    color: rgb(19, 18, 18);
    border-radius: 5px 10px 35px 5px;
    padding: px;
    margin: 30px;
    

}
.rect1
{
    width: 300px;
    border-radius: 5px 10px 35px 5px;
    padding: 8px;
    margin: 30px;
    margin-left:0px ;
    margin-top: 0px;

}
.pill
{
    font-size: 30px;
    margin-left: 600px;
    
}
.html
{
  margin-right:70px;
 
  
}
.css
{margin-right:100px;}
.bs
{
font-size: 30px;
}
.jq
{
  margin-right:50px;
}
.grid-container {
  margin: 2rem;
  display: grid;
  grid-template-columns : repeat(3,1fr);
  grid-template-rows: repeat(2, 20vw);
  grid-gap: 10px;
}

.grid_image {
  width:800px;
  height:500px;
  object-fit:cover;
  transition:0.5s ease-in;
}

.grid_item {
  position: relative;
/*   overflow: hidden will prevent the image scaling to exceed the specified width. It will expand on back */
  overflow: hidden; 
}

/* .grid_item:hover {
  opacity: 0;
   animation: top_overlay 1s linear;
}
 */
/* .grid_item .after {
  position: absolute;
    top: 50%;
  left:50%;
  transform : translate(-50%, -50%);
  width: 100%;
  height: 100%;
    font-size : 2rem;
    display: none;
    color: red;
} */

/* .grid_item:hover .after {
  display: block;
  background: #fff;
  object-fit : cover;
} */

.grid_item:hover .grid_image {
  transform : scale(1.1);
  filter: blur(2px);
}

.text {
  font-size : 1.2rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #C0392B;
  font-weight:900;
  display: none;
}

.online_view {
  margin-top: 40px;
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  outline:none;
  border: 1px solid yellow;
}

button.online_view {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button.online_view:hover{
  background-color: #E8F6F3;
  color: #CA5D46;
}

.grid_item:hover .text {
  display: block;
  
/*   text to see, otherwise hides in the back */
  z-index: 999;
  animation : slide 0.7s ease;
}


@keyframes slide {
  0%{
    top: -50%;
  }
  100% {
    top: 40%;
  }
}
.msg
{
  width: 450px;
  margin: auto;
  display: block;
}

p{
  margin-top: 8vw;
  text-align: center;
  font-size: 5vw;
  color: #000000;
}
p{
  margin-top: 8vw;
  text-align: center;
  font-size: 5vw;
  color: #000000;
}


.bb
{
  display: grid;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: inline-flex;
  list-style: none;
 
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .html:hover,
.wrapper .html:hover .tooltip,
.wrapper .html:hover .tooltip::before {
  background: #F16529;
  color: #ffffff;
}

.wrapper .css:hover,
.wrapper .css:hover .tooltip,
.wrapper .css:hover .tooltip::before {
  background :#2965f1;

}

.wrapper .bs:hover,
.wrapper .bs:hover .tooltip,
.wrapper .bs:hover .tooltip::before {
    background-color: #563d7c;
 
}

.wrapper .js:hover,
.wrapper .js:hover .tooltip,
.wrapper .js:hover .tooltip::before {
  background-color:#F0DB4F;
  color: #ffffff;
}

.wrapper .jq:hover,
.wrapper .jq:hover .tooltip,
.wrapper .jq:hover .tooltip::before {
  background:  #0769AD;
  color: #ffffff;
}
.wrapper .ps:hover,
.wrapper .ps:hover .tooltip,
.wrapper .ps:hover .tooltip::before {
  background:#18152E ;
  color: #ffffff;
}
.wrapper .in:hover,
.wrapper .in:hover .tooltip,
.wrapper .in:hover .tooltip::before {
  background:#49021F ;
  color: #ffffff;
}
.skil
{
  height:45rem;
}
.c5
{
  background: #6B728E;
  height: 30rem;
  
}
.c4
{
  background: #50577A;
  height: 162rem;
}
.c3 
{
  background: #474E68;
  height: 48rem;
}
.c2 
{
  background: #404258;
  height:45rem;
}
.c1 
{
  background-color:#282A3A;
  height: 37rem;
  
  

}
a
{
  color: #000; 
}
a:hover
{
  text-decoration: none;
}

.c1.a
{
 height: 37rem;
}
.frm
{
   width:380px;
   margin-top: 10px;
   margin-bottom: 2px;
   padding-top: 2px;
   padding-bottom: 2px;
   margin: auto;
   display: block;
   
}
.banimg
{
  margin:auto;
  display:block;
  position:relative;
  opacity:0.2;
}
.banic
{
  position: absolute;
  top:25rem;
  left:55rem
}
.banner
{
  background-color: #18152E;
  height: 500px;
}
.hire
{
  background-color: floralwhite;
  margin-top: 80px;
  padding:20px ;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
  .skil {height: 90rem;}
  .grid_image {width: 450px;height: 500px;}
  .msg {width: 300px;}
  .c5 {height:7rem;background-color: #fff;}
  .c4 {height:7rem;background-color: #fff;}
  .c3 {height:7rem;background-color: #fff;}
  .c2 {height:1rem;background-color: #fff;}
  .c1 {height:7rem;background-color: #fff;}
  .t1 {font-size: 10px;width: 200px;margin-top:30px ;}
  .c1.a {height: 37rem;}
   .fadingA {font-size: 22px;}
   .fadingB {font-size: 15px;}
   .frm {width: 240px;margin-top: 10px;}
   .abt {margin-top:0px;margin-bottom:10px;}
   .abtsk {margin-top:0px;margin-bottom:10px;}
   .abtedu {margin-top:0px;margin-bottom:10px;}
   .abtport {margin-top:0px;margin-bottom:10px;}
   .abtcont {margin-top:0px;margin-bottom:10px;}
   .banimg {display: none;}
   .banic {left: 20rem;}
   .rect {width: 200px;}
   .rect1 {width: 200px;}
   .banner {height: 600px;text-align: center;} 
   

}
@media only screen and (max-width: 400px) {
  .example {background: green;}
  .c5 {height:7rem;background-color: #fff;}
  .c4 {height:7rem;background-color: #fff;}
  .c3 {height:7rem;background-color: #fff;}
  .c2 {height:1rem;background-color: #fff;}
  .c1 {height:7rem;background-color: #fff;}
  
 
  
}

@media only screen and (max-width: 576px) {
  .example {background: orange;}

   
  
} 
@media only screen and (max-width: 280px) {
  .example {background: orange;}
   
   
  
} 
@media only screen and (max-width: 412px) {
  .example {background: orange;}
 
   
  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
    .skil {height: 60rem;}
    .c2 {height: 70rem;}
    
  
    
 
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  .t1 {font-size: 18px;width: 390px;margin-top:150px ;}
    .c1 {height:33rem;}
  
  
  
} 
@media only screen and (max-width: 767px) {
  
    .ic {color: #636161;}
    .c5 {height:7rem;background-color: #fff;}
  .c4 {height:7rem;background-color: #fff;}
  .c3 {height:7rem;background-color: #fff;}
  .c2 {height:1rem;background-color: #fff;}
  .c1 {height:7rem;background-color: #fff;}
  .t1 {font-size: 10px;width: 200px;margin-top:30px ;}
  .c1.a {height: 37rem;}
  .abt {margin-top:0px;margin-bottom:10px;}
   .abtsk {margin-top:0px;margin-bottom:10px;}
   .abtedu {margin-top:0px;margin-bottom:10px;}
   .abtport {margin-top:0px;margin-bottom:10px;}
   .abtcont {margin-top:0px;margin-bottom:10px;}
    
  
  
  
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
   
  
} 
@media only screen and (max-width: 1024px) {
  

   
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
 
  
}
